.ticker {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: auto;
	font-size: 1rem;
	font-weight: 600;
	background-color: #050505;
    color: #fff;
	
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
    color: #fff;
    text-decoration: none;
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: 3px;
}
.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  z-index: -1;
  width: calc(100% + 3px * 2);
  height: calc(100% + 3px * 2);
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * 3px);
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
