.navbar {
    max-height: 60px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    
}

img {
    height: 60px;
}